@media(max-width: 1250px){
  header{
    .headerWrapper{
      max-width: 100%;
      padding: 0 44px;
      .headerMenu{
        display: none;
      }
      .headerControls{
        .signIn{
          display: none;
        }
        .burger{
          display: flex;
          margin-left: 20px;
          cursor: pointer;
        }
      }
    }
  }
  main{
    .banner{
      padding: 0;
      border-radius: 25px;
      max-width: 680px;
      background-size: cover;
      .content{
        padding: 118px 50px 0 50px;
        h1{
          font-size: 40px;
          line-height: 45px;
          max-width: 328px;
        }
        .description{
          max-width: 252px;
          font-size: 16px;
          line-height: 24px;
        }
        .specialist{
          height: 227px;
          flex-direction: column;
          max-width: 580px;
          .select{
            width: 440px;
            margin-bottom: 25px;
            margin-right: unset;
          }
        }
      }
      .kit{
        right: unset;
        bottom: 247px;
      }
      .ellipse{
        display: none;
      }
      .nurse{
        position: absolute;
        display: block;
        top: 0;
        right: -45px;
        z-index: 0;
      }
      .tabs{
        position: relative;
        display: flex;
        justify-content: space-between;
        padding: 18px 50px 50px;
        .nurses,.catalog{
          position: relative;
          top: unset;
          right: unset;
        }
        .nurses{
          .text{
            p{
              span{
                font-size: 36px;
                line-height: 42px;
              }
            }
            br{
              &:first-of-type{
                display: none;
              }
            }
          }
        }
      }
    }
    .about{
      flex-direction: column;
      padding: 0 44px;
      max-width: 100%;
      width: auto;
      .info{
        .title{
          margin-bottom: 40px;
        }
        .description{
          max-width: 100%;
          margin-bottom: 33px;
        }
        .tab{
          width: fit-content;
        }
      }
      .gallery{
        .servicePic{
          margin-left: unset;
          margin-top: 76px;
          svg{
            top: -57px;
            left: unset;
            right: -43px;
          }
        }
        .slider{
          max-width: 580px;
          margin-left: unset;
        }
      }
    }
    .perks{
      max-width: 100%;
      width: auto;
      display: flex;
      flex-direction: column;
      .items{
        margin-top: 91px;
        padding-top: 322px;
        padding-bottom: 206px;
        .perksNurse{
          top: -33px;
          bottom: unset;
          left: 50%;
          transform: translateX(-50%);
          width: 508px;
        }
      }
      .send{
        max-width: 100%;
        width: auto;
        margin: -130px 44px 0;
        .content{
          justify-content: space-between;
          padding: 0 50px;
          .footnote{
            max-width: 317px;
          }
          .pick{
            margin: 0;
          }
        }
      }
      .rect{
        margin-left: 44px;
      }
      .rectTitle{
        position: relative;
        z-index: 1;
        margin-left: 44px;
      }
    }
    .how{
      .wrapper{
        max-width: 100%;
        padding: 0 44px;
      }
    }
    .specialists{
      max-width: 100%;
      width: auto;
      padding: 0 44px;
      .specialTitle,.controls,.cards{
        position: relative;
        z-index: 1;
      }
      .controls{
        .navigation{
          display: none;
        }
        .tabs{
          overflow-x: scroll;
          width: auto;
          .item{
            margin-right: 25px;
          }
        }
      }
      .cards{
        .specialistsSlider{
          max-width: 600px;
        }
        .item{
          width: 260px;
          .stats{
            .state{
              padding: 7px 16px;
              text-align: center;
            }
          }
        }
      }
      .round{
        justify-content: center;
        .content{
          .countReviews{
            flex-direction: column;
            .text{
              p{
                strong{
                  font-size: 36px;
                  line-height: 42px;
                }
              }
              br{
                &:first-of-type{
                  display: none;
                }
              }
            }
          }
        }
      }
    }
    .reviews{
      max-width: 100%;
      .navigation{
        max-width: 680px;
        left: 44px;
      }
      .reviewSlider{
        max-width: 100%;
        width: auto;
        .item{
          margin: 0 auto;
        }
      }
      .send{
        max-width: 680px;
        width: 100%;
        margin: 0px;
        bottom: -195px;
        .content{
          justify-content: space-between;
          padding: 0 50px;
          .footnote{
            max-width: 329px;
          }
          .pick{
            margin: 0;
          }
        }
      }
    }
    .faq{
      .consult{
        top: 130px;
        right: 44px;
      }
      .faqTitle{
        margin-bottom: 300px;
        margin-left: 44px;
      }
      .rect{
        margin-left: 44px;
      }
      .faqBlock{
        padding: 48px 44px;
        .bandAid{
          left: 119px;
          top: -241px;
        }
      }
      .send{
        max-width: 100%;
        width: auto;
        margin: 63px 44px 0;
        .content{
          display: none;
        }
        .mobContent{
          display: flex;
          flex-direction: column;
          padding: 0 48px;
          .top{
            display: flex;
            align-items: center;
            justify-content: space-between;
            .title{
              font-family: 'Gilroy', serif;
              font-style: normal;
              font-weight: 500;
              font-size: 30px;
              line-height: 36px;
              color: #FFFFFF;
              max-width: 302px;
            }
          }
          .bottom{
            display: flex;
            align-items: center;
            justify-content: space-between;
            .pick{
              background: #FFFFFF;
              font-family: 'Gilroy', serif;
              font-style: normal;
              font-weight: 500;
              font-size: 14px;
              line-height: 20px;
              color: #3F85EF;
            }
            .subtitle{
              font-family: 'Gilroy', serif;
              font-style: normal;
              font-weight: 500;
              font-size: 14px;
              line-height: 20px;
              text-align: center;
              color: #FFFFFF;
              max-width: 329px;
            }
          }
        }
      }
    }
    .useful{
      .medPic{
        right: 24px;
        top: 0;
      }
      .rect,.usefulTitle{
        margin-left: 44px;
      }
      .articles{
        padding: 0 44px;
        .item{
          width: 330px;
          height: 517px;
          img{
            width: 100%;
          }
          .title{
            max-width: 270px;
          }
          .subtitle{
            max-width: 270px;
          }
        }
      }
      .useful-pagination{
        display: block;
        position: relative;
        margin-top: 66px;
        .swiper-pagination-bullet{
          width: 10px;
          height: 10px;
          border: 2px solid #3F85EF;
          margin-right: 15px;
          transition: all 0.4s;
          &:last-of-type{
            margin-right: unset;
          }
        }
        .swiper-pagination-bullet-active{
          width: 15px;
          height: 15px;
          background: #3F85EF;
        }
      }
    }
  }
  footer{
    .footerWrapper{
      padding: 60px 44px 124px;
      max-width: 100%;
      position: relative;
      .content{
        flex-direction: column;
        .info{
          display: flex;
          justify-content: space-between;
          margin-bottom: 53px;
          .copyright{
            position: absolute;
            bottom: 50px;
            left: 50%;
            transform: translateX(-50%);
          }
        }
        .menu{
          justify-content: space-between;
          margin-bottom: 61px;
          .row{
            .rowTitle{
              font-size: 25px;
              line-height: 24px;
            }
            .item{
              font-size: 20px;
              line-height: 24px;
              margin-bottom: 20px;
            }
          }
        }
        .contacts{
          margin: 0;
          .contactContent{
            display: flex;
            flex-flow: row wrap;
            align-items: baseline;
            .box{
              width: 68%;
            }
          }
        }
      }
    }
  }
  .burgerMenu{
    display: none;
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    background: #FFFFFF;
    z-index: 1000;
    .close{
      position: absolute;
      top: 40px;
      right: 40px;
      cursor: pointer;
    }
    .content{
      height: 100vh;
      background: #3F85EF;
      border-radius: 0px 40px 40px 0px;
      width: 489px;
      position: relative;
      overflow: hidden;
      .mask{
        position: absolute;
        background: #59B4FB;
        filter: blur(74px);
        border-radius: 40px;
        width: 295.07px;
        height: 1120.55px;
        z-index: 0;
        top: -100px;
        right: 0;
      }
      .menu{
        position: relative;
        z-index: 1;
        padding: 35px 44px;
        .geo {
          display: flex;
          align-items: center;
          margin-top: 54px;
          margin-bottom: 45px;
          svg{
            margin-right: 17px;
          }
          select {
            font-family: 'Gilroy', serif;
            font-style: normal;
            font-weight: 500;
            font-size: 14px;
            line-height: 24px;
            color: #FFFFFF;
            padding: 8px 22px 8px 8px;
            background-position-y: 17px;
            background-position-x: 98%;
            background-image: url("../images/white-selector.svg");
          }
          .selector{
            $select-color: #ffffff;
            $select-background: #283848;
            $select-width: 288px;
            $select-height: 30px;
            font-family: "Gilroy", serif;
            p {
              margin-top: 200px;
              a {
                text-transform: uppercase;
                text-decoration: none;
                display: inline-block;
                color: #fff;
                padding: 5px 10px;
                margin: 0 5px;
                background-color: #87B1CA;
                &:hover {
                  background-color:  #87B1CA;
                }
              }
            }
            .select-hidden {
              display: none;
              visibility: hidden;
              padding-right: 10px;
            }
            .select {
              cursor: pointer;
              display: inline-block;
              position: relative;
              font-size: 16px;
              color: $select-color;
              width: $select-width;
              height: $select-height;
            }
            .select-styled {
              position: absolute;
              top: 0;
              right: 0;
              bottom: 0;
              left: 0;
              background-color: transparent;
              padding: 8px 15px;
              font-size: 16px;
              &:after {
                content:"";
                width: 0;
                height: 0;
                border: 7px solid transparent;
                border-color: $select-color transparent transparent transparent;
                position: absolute;
                top: 16px;
                right: 10px;
              }
              &:active, &.active {
                &:after {
                  top: 9px;
                  border-color: transparent transparent $select-color transparent;
                }
              }
            }

            .select-options {
              display: none;
              position: absolute;
              top: 100%;
              right: 0;
              left: 0;
              z-index: 999;
              margin: 0;
              padding: 0;
              list-style: none;
              background-color: #283848;
              li {
                margin: 0;
                padding: 12px 0;
                text-indent: 15px;
                border-top: 1px solid #FFFFFF;
                background-color: #283848;
                &:hover,
                &.is-selected {
                  color: $select-background;
                  background: #abc6e5;
                }
                &[rel="hide"] {
                  display: none;
                }
              }
            }
          }
        }
        .links{
          display: flex;
          flex-direction: column;
          a{
            font-family: 'Gilroy', serif;
            font-style: normal;
            font-weight: 400;
            font-size: 28px;
            line-height: 25px;
            color: #FFFFFF;
            margin-bottom: 30px;
            &:first-of-type{
              font-weight: 600;
            }
          }
        }
      }
      .cabinet{
        position: relative;
        z-index: 1;
        border-top: 2px solid rgba(240, 241, 248, 0.45);
        border-bottom: 2px solid rgba(240, 241, 248, 0.45);
        padding: 45px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        a{
          font-family: 'Gilroy', serif;
          font-style: normal;
          font-weight: 500;
          font-size: 28px;
          line-height: 24px;
          color: #FBFBFB;
        }
        button{
          background: #3F85EF;
          font-family: 'Gilroy', serif;
          font-style: normal;
          font-weight: 500;
          font-size: 14px;
          line-height: 20px;
          color: #FFFFFF;
          transition: all 0.4s;
          border: 1px solid #3F85EF;
          &:hover{
            background: #FFFFFF;
            color: #3F85EF;
          }
        }
      }
    }
  }
  .activeBurger{
    display: block;
  }
}

@media(max-width: 767px){
  header{
    .headerWrapper{
      padding: 0 24px;
      a{
        img{
          width: 195px;
        }
      }
      .headerControls{
        .geo,.signIn{
          display: none;
        }
      }
    }
  }
  main{
    .banner{
      margin-bottom: 80px;
      .nurse{
        display: none;
      }
      .plus{
        display: block;
        position: absolute;
        top: 82px;
        right: 5px;
        z-index: 0;
      }
      .content{
        padding: 48px 24px 0 24px;
        h1{
          font-size: 32px;
          line-height: 35px;
          max-width: 265px;
        }
        .description{
          margin-bottom: 24px;
        }
        .specialist{
          max-width: 100%;
          width: auto;
          padding: 0 39px;
          .select{
            width: -webkit-fill-available;
          }
        }
      }
      .kit{
        display: none;
      }
      .tabs{
        .nurses{
          display: none;
        }
      }
    }
    .about{
      padding: 0 24px;
      margin-bottom: 80px;
      .info{
        .title{
          font-size: 28px;
          line-height: 24px;
          margin-bottom: 38px;
        }
        .subtitle{
          font-size: 18px;
          line-height: 27px;
          margin-bottom: 24px;
          max-width: 312px;
        }
        .tab{
          padding: 20px 17px 28px;
          flex-direction: column;
          img{
            width: 76px;
            margin-bottom: 15px;
          }
          p{
            margin: 0;
            text-align: justify;
          }
        }
      }
      .gallery{
        margin-top: 30px;
        .servicePic{
          img{
            width: 327px;
          }
          svg{
            width: 117px;
            top: -77px;
            right: 0;
          }
        }
        .slider{
          .swiper{
            max-width: 200px;
          }
        }
      }
    }
    .perks{
      margin-bottom: 80px;
      .rect{
        margin-left: 24px;
      }
      .rectTitle{
        font-size: 28px;
        line-height: 24px;
        margin-left: 24px;
      }
      .items{
        margin-top: 61px;
        padding-top: 247px;
        padding-bottom: 217px;
        .desktop{
          display: none;
        }
        .perksSlider{
          display: block;
          .item{
            padding: 27px 15px;
            max-width: 327px;
            width: auto;
            margin: 0 17px;
            align-items: flex-start;
            .text{
              .title{
                max-width: 147px;
              }
              .subtitle{
                max-width: 194px;
              }
            }
          }
        }
        .perks-pagination{
          display: block;
          position: relative;
          margin-top: 40px;
          .swiper-pagination-bullet{
            width: 10px;
            height: 10px;
            background: transparent;
            border: 2px solid #3F85EF;
            transition: all 0.4s;
          }
          .swiper-pagination-bullet-active{
            width: 15px;
            height: 15px;
            background: #3F85EF;
            border: none;
          }
        }
        .perksNurse{
          width: 361px;
        }
        .back-circles{
          right: 31px;
          left: unset;
          width: 50px;
        }
        .ellipse{
          width: 70px;
          height: 70px;
        }
      }
      .send{
        margin: -154px 24px 0;
        .content{
          padding: 0 39px;
          .title{
            font-size: 20px;
            line-height: 27px;
            max-width: 156px;
          }
          img{
            width: 78px;
          }
          .pick{
            margin-top: 20px;
            width: 100%;
          }
        }
      }
    }
    .how{
      .wrapper{
        padding: 0 24px;
        margin-bottom: 132px;
        .howTitle{
          font-size: 28px;
          line-height: 24px;
        }
        .items{
          max-width: 100%;
          margin-top: 68px;
          .desktop{
            display: none;
          }
          .howSlider,.how-pagination{
            display: block;
          }
          .howSlider{
            .item{
              }
              .circle{
                position: absolute;
                width: 18px;
                height: 18px;
                background: #59B4FB;
                top: 17px;
                left: 92px;
                z-index: 0;
                border-radius: 50px;
              }
              .number{
                top: 0;
                right: 59px;
              }
              .step{
                margin-top: 30px;
              }
              .title{
                max-width: 155px;
              }
              .description{
                max-width: 168px;
              }
            }
          }
          .how-pagination{
            position: relative;
            margin-top: 38px;
            .swiper-pagination-bullet{
              width: 10px;
              height: 10px;
              transition: all 0.4s;
              border: 2px solid #3F85EF;
              margin-right: 15px;
              &:last-of-type{
                margin-right: unset;
              }
            }
            .swiper-pagination-bullet-active{
              width: 15px;
              height: 15px;
              background: #3F85EF;
            }
          }
        }
      }
    .specialists{
      padding: 0 24px;
      margin-bottom: 132px;
      .round{
        top: 95px;
        right: unset;
        justify-content: flex-start;
        align-items: flex-start;
        .content{
          margin: 0;
        }
      }
      .specialTitle{
        font-size: 28px;
        line-height: 24px;
      }
      .controls{
        margin-top: 175px;
      }
      .cards{
        .item{
          margin: 0 auto;
        }
      }
    }
    .reviews{
      padding-top: 67px;
      .navigation{
        transform: translate(-50%, 50%);
        left: 50%;
        top: unset;
        bottom: 177px;
        max-width: 260px;
      }
      .circle{
        display: none;
      }
      .syringe{
        top: -54px;
        right: -61px;
        width: 200px;
      }
      .rect{
        margin-left: 24px;
      }
      .reviewTitle{
        font-size: 28px;
        line-height: 33px;
        margin-left: 24px;
        margin-bottom: 38px;
        max-width: 195px;
      }
      .send{
        margin: 63px 24px 0;
        max-width: 100%;
        width: -webkit-fill-available;
        left: unset;
        transform: none;
        .content{
          padding: 0 39px;
          .title{
            font-size: 20px;
            line-height: 27px;
            max-width: 156px;
          }
          img{
            width: 78px;
          }
          .pick{
            margin-top: 20px;
            width: 100%;
          }
        }
      }
      .reviewSlider{
        .item{
          padding: 29px 30px;
          max-width: 100%;
          width: auto;
          margin: 0 29px;
          .itemHeader{
            flex-direction: column;
            align-items: flex-start;
            .title{
              font-size: 18px;
              line-height: 27px;
            }
          }
        }
      }
    }
    .faq{
      .faqTitle{
        font-size: 28px;
        line-height: 33px;
      }
      .consult{
        max-width: 100%;
        width: -webkit-fill-available;
        margin: 0 24px;
        right: unset;
        img{
          width: 141px;
        }
      }
      .faqBlock{
        .bandAid{
          width: 70px;
          left: unset;
          right: 10px;
          top: -50px;
        }
      }
      .send{
        margin: 63px 24px 0;
        .mobContent{
          padding: 0 39px;
          .top{
            .title{
              font-size: 20px;
              line-height: 27px;
            }
            img{
              height: 91px;
            }
          }
          .bottom{
            flex-direction: column;
            margin-top: 29px;
            .pick{
              margin-bottom: 24px;
              width: 100%;
            }
          }
        }
      }
    }
    .useful{
      .medPic{
        right: 0;
        top: -70px;
        width: 98px;
      }
      .usefulTitle{
        font-size: 28px;
        line-height: 24px;
      }
      .articles{
        margin-top: 40px;
        .item{
          width: 100%;
        }
      }
    }
  }
  footer{
    .footerWrapper{
      .content{
        .info{
          flex-direction: column;
          align-items: center;
        }
        .menu{
          flex-direction: column;
          align-items: center;
          justify-content: unset;
          margin-bottom: 45px;
          .row{
            margin: 0;
            align-items: center;
            .item{
              text-align: center;
            }
          }
        }
        .contacts{
          .contactsTitle{
            text-align: center;
            font-size: 22px;
            line-height: 24px;
          }
          .contactContent{
            flex-flow: column;
            align-items: center;
            .box{
              width: auto;
            }
          }
          .item{
            a{
              font-size: 18px;
              line-height: 24px;
            }
          }
        }
      }
    }
  }
  .burgerMenu{
    .content{
      width: 80%;
      .menu{
        padding: 24px;
        img{
          max-width: 200px;
        }
        .geo{
          .selector{
            .select{
              width: 180px;
            }
            .select-styled{
              font-size: 12px;
            }
            .select-options{
              li{
                font-size: 10px;
              }
            }
          }
        }
        .links{
          a{
            font-size: 14px;
          }
        }
      }
      .cabinet{
        padding: 24px;
        a{
          font-size: 14px;
        }
      }
    }
  }
  }
