@media(max-width: 1250px){
  header{
    .headerWrapper{
      max-width: 100%;
      padding: 0 44px;
      .headerMenu{
        display: none;
      }
      .headerControls{
        .signIn{
          display: none;
        }
        .burger{
          display: flex;
          margin-left: 20px;
          cursor: pointer;
        }
      }
    }
  }
  main{
    .banner{
      padding: 0;
      border-radius: 25px;
      max-width: 680px;
      background-size: cover;
      .content{
        padding: 118px 50px 0 50px;
        h1{
          font-size: 40px;
          line-height: 45px;
          max-width: 328px;
        }
        .description{
          max-width: 252px;
          font-size: 16px;
          line-height: 24px;
        }
        .specialist{
          height: 227px;
          flex-direction: column;
          max-width: 580px;
          select{
            width: 440px;
            margin-bottom: 25px;
            margin-right: unset;
          }
        }
      }
      .kit{
        right: unset;
        bottom: 247px;
      }
      .ellipse{
        display: none;
      }
      .nurse{
        display: none;
      }
      .nurse-responsive{
        position: absolute;
        display: block;
        top: 0;
        right: -45px;
        z-index: 0;
      }
      .tabs{
        position: relative;
        display: flex;
        justify-content: space-between;
        padding: 18px 50px 50px;
        .nurses,.catalog{
          position: relative;
          top: unset;
          right: unset;
        }
        .nurses{
          .text{
            p{
              span{
                font-size: 36px;
                line-height: 42px;
              }
            }
            br{
              &:first-of-type{
                display: none;
              }
            }
          }
        }
      }
    }
    .about{
      flex-direction: column;
      padding: 0 44px;
      max-width: 100%;
      width: auto;
      .info{
        .title{
          margin-bottom: 40px;
        }
        .description{
          max-width: 100%;
          margin-bottom: 33px;
        }
        .tab{
          width: fit-content;
        }
      }
      .gallery{
        .servicePic-responsive{
          display: flex;
        }
        .servicePic{
          display: none;
        }
        .slider{
          max-width: 580px;
          margin-left: unset;
        }
      }
    }
    .perks{
      max-width: 100%;
      width: auto;
      height: 1263px;
      display: flex;
      flex-direction: column;
      .back{
        display: none;
      }
      .items{
        margin-top: auto;
      }
      .send{
        max-width: 100%;
        width: auto;
        margin: 63px 44px 0;
        .content{
          justify-content: space-between;
          padding: 0 50px;
          .footnote{
            max-width: 317px;
          }
          .pick{
            margin: 0;
          }
        }
      }
      .back-responsive{
        display: block;
        position: absolute;
        top: 115px;
        left: 0;
        z-index: 0;
      }
      .rect{
        margin-left: 44px;
      }
      .rectTitle{
        position: relative;
        z-index: 1;
        margin-left: 44px;
      }
    }
    .how{
      .wrapper{
        max-width: 100%;
        padding: 0 44px;
      }
    }
    .specialists{
      max-width: 100%;
      width: auto;
      padding: 0 44px;
      .specialTitle,.controls,.cards{
        position: relative;
        z-index: 1;
      }
      .controls{
        .navigation{
          display: none;
        }
        .tabs{
          overflow-x: scroll;
          width: auto;
          .item{
            margin-right: 25px;
          }
        }
      }
      .cards{
        .specialistsSlider{
          max-width: 600px;
        }
        .item{
          width: 260px;
          .stats{
            .state{
              padding: 7px 16px;
              text-align: center;
            }
          }
        }
      }
    }
    .reviews{
      max-width: 100%;
      .navigation{
        max-width: 680px;
        left: 44px;
      }
      .reviewSlider{
        max-width: 100%;
        width: auto;
        .item{
          margin: 0 auto;
        }
      }
      .send{
        max-width: 680px;
        width: 100%;
        margin: 0px;
        bottom: -195px;
        .content{
          justify-content: space-between;
          padding: 0 50px;
          .footnote{
            max-width: 329px;
          }
          .pick{
            margin: 0;
          }
        }
      }
    }
    .faq{
      .consult{
        top: 130px;
        right: 44px;
      }
      .faqTitle{
        margin-bottom: 300px;
        margin-left: 44px;
      }
      .rect{
        margin-left: 44px;
      }
      .faqBlock{
        padding: 48px 44px;
        .bandAid{
          left: 119px;
          top: -241px;
        }
      }
      .send{
        max-width: 100%;
        width: auto;
        margin: 63px 44px 0;
        .content{
          display: none;
        }
        .mobContent{
          display: flex;
          flex-direction: column;
          padding: 0 48px;
          .top{
            display: flex;
            align-items: center;
            justify-content: space-between;
            .title{
              font-family: 'Gilroy', serif;
              font-style: normal;
              font-weight: 500;
              font-size: 30px;
              line-height: 36px;
              color: #FFFFFF;
              max-width: 302px;
            }
          }
          .bottom{
            display: flex;
            align-items: center;
            justify-content: space-between;
            .pick{
              background: #FFFFFF;
              font-family: 'Gilroy', serif;
              font-style: normal;
              font-weight: 500;
              font-size: 14px;
              line-height: 20px;
              color: #3F85EF;
            }
            .subtitle{
              font-family: 'Gilroy', serif;
              font-style: normal;
              font-weight: 500;
              font-size: 14px;
              line-height: 20px;
              text-align: center;
              color: #FFFFFF;
              max-width: 329px;
            }
          }
        }
      }
    }
    .useful{
      .rect,.usefulTitle{
        margin-left: 44px;
      }
      .articles{
        padding: 0 44px;
        .item{
          width: 330px;
          height: 517px;
          img{
            width: 100%;
          }
          .title{
            max-width: 270px;
          }
          .subtitle{
            max-width: 270px;
          }
        }
      }
      .useful-pagination{
        position: relative;
        margin-top: 66px;
        .swiper-pagination-bullet{
          width: 10px;
          height: 10px;
          border: 2px solid #3F85EF;
          margin-right: 15px;
          transition: all 0.4s;
          &:last-of-type{
            margin-right: unset;
          }
        }
        .swiper-pagination-bullet-active{
          width: 15px;
          height: 15px;
          background: #3F85EF;
        }
      }
    }
  }
  footer{
    .footerWrapper{
      padding: 60px 44px 124px;
      max-width: 100%;
      position: relative;
      .content{
        flex-direction: column;
        .info{
          display: flex;
          justify-content: space-between;
          margin-bottom: 53px;
          .copyright{
            position: absolute;
            bottom: 50px;
            left: 50%;
            transform: translateX(-50%);
          }
        }
        .menu{
          justify-content: space-between;
          margin-bottom: 61px;
          .row{
            .rowTitle{
              font-size: 25px;
              line-height: 24px;
            }
            .item{
              font-size: 20px;
              line-height: 24px;
              margin-bottom: 20px;
            }
          }
        }
        .contacts{
          margin: 0;
          .contactContent{
            display: flex;
            flex-flow: row wrap;
            align-items: baseline;
            .box{
              width: 68%;
            }
          }
        }
      }
    }
  }
}

@media(max-width: 767px){
  header{
    .headerWrapper{
      padding: 0 24px;
      a{
        img{
          width: 195px;
        }
      }
      .headerControls{
        .geo,.signIn{
          display: none;
        }
      }
    }
  }
  main{
    .banner{
      margin-bottom: 80px;
      .nurse-responsive{
        display: none;
      }
      .content{
        padding: 48px 24px 0 24px;
        h1{
          font-size: 32px;
          line-height: 35px;
          max-width: 265px;
        }
        .description{
          margin-bottom: 24px;
        }
        .specialist{
          max-width: 100%;
          width: auto;
          padding: 0 39px;
          select{
            width: -webkit-fill-available;
          }
        }
      }
      .kit{
        display: none;
      }
      .tabs{
        .nurses{
          display: none;
        }
      }
    }
    .about{
      padding: 0 24px;
      margin-bottom: 80px;
      .info{
        .title{
          font-size: 28px;
          line-height: 24px;
          margin-bottom: 38px;
        }
        .subtitle{
          font-size: 18px;
          line-height: 27px;
          margin-bottom: 24px;
          max-width: 312px;
        }
        .tab{
          padding: 20px 17px 28px;
          flex-direction: column;
          img{
            width: 76px;
            margin-bottom: 15px;
          }
          p{
            margin: 0;
            text-align: justify;
          }
        }
      }
      .gallery{
        margin-top: 30px;
        .servicePic-responsive{
          display: none;
        }
        .servicePic-mobile{
          display: block;
        }
        .slider{
          .swiper{
            max-width: 200px;
          }
        }
      }
    }
    .perks{
      margin-bottom: 0;
      .rectTitle{
        font-size: 28px;
        line-height: 24px;
      }
      .back-responsive{
        width: 100%;
        left: 50%;
        transform: translateX(-50%);
      }
      .items{
        margin-top: 320px;
        .desktop{
          display: none;
        }
        .perksSlider{
          display: block;
          .item{
            padding: 27px 15px;
            max-width: 100%;
            width: auto;
            margin: 0 17px;
            height: 259px;
            align-items: flex-start;
            .text{
              .title{
                max-width: 147px;
              }
              .subtitle{
                max-width: 194px;
              }
            }
          }
        }
      }
      .send{
        margin: 63px 24px 0;
        .content{
          padding: 0 39px;
          .title{
            font-size: 20px;
            line-height: 27px;
            max-width: 156px;
          }
          img{
            width: 78px;
          }
          .pick{
            margin-top: 20px;
            width: 100%;
          }
        }
      }
    }
    .how{
      .wrapper{
        padding: 0 24px;
        margin-bottom: 132px;
        .howTitle{
          font-size: 28px;
          line-height: 24px;
        }
        .items{
          max-width: 100%;
          margin-top: 68px;
          .desktop{
            display: none;
          }
          .howSlider,.how-pagination{
            display: block;
          }
          .howSlider{
            .item{
              .number{
                top: 0;
                right: 59px;
              }
              .step{
                margin-top: 30px;
              }
              .title{
                max-width: 155px;
              }
              .description{
                max-width: 168px;
              }
            }
          }
          .how-pagination{
            position: relative;
            margin-top: 38px;
            .swiper-pagination-bullet{
              width: 10px;
              height: 10px;
              transition: all 0.4s;
              border: 2px solid #3F85EF;
              margin-right: 15px;
              &:last-of-type{
                margin-right: unset;
              }
            }
            .swiper-pagination-bullet-active{
              width: 15px;
              height: 15px;
              background: #3F85EF;
            }
          }
        }
      }
    }
    .specialists{
      padding: 0 24px;
      margin-bottom: 132px;
      .round{
        display: none;
      }
      .specialTitle{
        font-size: 28px;
        line-height: 24px;
      }
      .cards{
        .item{
          margin: 0 auto;
        }
      }
    }
    .reviews{
      padding-top: 67px;
      .navigation{
        transform: translate(-50%, 50%);
        left: 50%;
        top: unset;
        bottom: 177px;
        max-width: 260px;
      }
      .circle{
        display: none;
      }
      .syringe{
        top: -54px;
        right: -61px;
        width: 200px;
      }
      .rect{
        margin-left: 24px;
      }
      .reviewTitle{
        font-size: 28px;
        line-height: 33px;
        margin-left: 24px;
        margin-bottom: 38px;
        max-width: 195px;
      }
      .send{
        margin: 63px 24px 0;
        max-width: 100%;
        width: -webkit-fill-available;
        left: unset;
        transform: none;
        .content{
          padding: 0 39px;
          .title{
            font-size: 20px;
            line-height: 27px;
            max-width: 156px;
          }
          img{
            width: 78px;
          }
          .pick{
            margin-top: 20px;
            width: 100%;
          }
        }
      }
      .reviewSlider{
        .item{
          padding: 29px 30px;
          max-width: 100%;
          width: auto;
          margin: 0 29px;
          .itemHeader{
            flex-direction: column;
            align-items: flex-start;
            .title{
              font-size: 18px;
              line-height: 27px;
            }
          }
        }
      }
    }
    .faq{
      .faqTitle{
        font-size: 28px;
        line-height: 33px;
      }
      .consult{
        max-width: 100%;
        width: -webkit-fill-available;
        margin: 0 24px;
        right: unset;
        img{
          width: 141px;
        }
      }
      .faqBlock{
        .bandAid{
          width: 70px;
          left: unset;
          right: 10px;
          top: -50px;
        }
      }
      .send{
        margin: 63px 24px 0;
        .mobContent{
          padding: 0 39px;
          .top{
            .title{
              font-size: 20px;
              line-height: 27px;
            }
            img{
              height: 91px;
            }
          }
          .bottom{
            flex-direction: column;
            margin-top: 29px;
            .pick{
              margin-bottom: 24px;
              width: 100%;
            }
          }
        }
      }
    }
    .useful{
      .usefulTitle{
        font-size: 28px;
        line-height: 24px;
      }
      .articles{
        margin-top: 40px;
        .item{
          width: 100%;
        }
      }
    }
  }
  footer{
    .footerWrapper{
      .content{
        .info{
          flex-direction: column;
          align-items: center;
        }
        .menu{
          flex-direction: column;
          align-items: center;
          justify-content: unset;
          margin-bottom: 45px;
          .row{
            margin: 0;
            align-items: center;
            .item{
              text-align: center;
            }
          }
        }
        .contacts{
          .contactsTitle{
            text-align: center;
            font-size: 22px;
            line-height: 24px;
          }
          .contactContent{
            flex-flow: column;
            align-items: center;
            .box{
              width: auto;
            }
          }
          .item{
            a{
              font-size: 18px;
              line-height: 24px;
            }
          }
        }
      }
    }
  }
}