@media (max-width: 1250px) {
  header .headerWrapper {
    max-width: 100%;
    padding: 0 44px;
  }
  header .headerWrapper .headerMenu {
    display: none;
  }
  header .headerWrapper .headerControls .signIn {
    display: none;
  }
  header .headerWrapper .headerControls .burger {
    display: flex;
    margin-left: 20px;
    cursor: pointer;
  }

  main .banner {
    padding: 0;
    border-radius: 25px;
    max-width: 680px;
    background-size: cover;
  }
  main .banner .content {
    padding: 118px 50px 0 50px;
  }
  main .banner .content h1 {
    font-size: 40px;
    line-height: 45px;
    max-width: 328px;
  }
  main .banner .content .description {
    max-width: 252px;
    font-size: 16px;
    line-height: 24px;
  }
  main .banner .content .specialist {
    height: 227px;
    flex-direction: column;
    max-width: 580px;
  }
  main .banner .content .specialist .select {
    width: 440px;
    margin-bottom: 25px;
    margin-right: unset;
  }
  main .banner .kit {
    right: unset;
    bottom: 247px;
  }
  main .banner .ellipse {
    display: none;
  }
  main .banner .nurse {
    position: absolute;
    display: block;
    top: 0;
    right: -45px;
    z-index: 0;
  }
  main .banner .tabs {
    position: relative;
    display: flex;
    justify-content: space-between;
    padding: 18px 50px 50px;
  }
  main .banner .tabs .nurses, main .banner .tabs .catalog {
    position: relative;
    top: unset;
    right: unset;
  }
  main .banner .tabs .nurses .text p span {
    font-size: 36px;
    line-height: 42px;
  }
  main .banner .tabs .nurses .text br:first-of-type {
    display: none;
  }
  main .about {
    flex-direction: column;
    padding: 0 44px;
    max-width: 100%;
    width: auto;
  }
  main .about .info .title {
    margin-bottom: 40px;
  }
  main .about .info .description {
    max-width: 100%;
    margin-bottom: 33px;
  }
  main .about .info .tab {
    width: fit-content;
  }
  main .about .gallery .servicePic {
    margin-left: unset;
    margin-top: 76px;
  }
  main .about .gallery .servicePic svg {
    top: -57px;
    left: unset;
    right: -43px;
  }
  main .about .gallery .slider {
    max-width: 580px;
    margin-left: unset;
  }
  main .perks {
    max-width: 100%;
    width: auto;
    display: flex;
    flex-direction: column;
  }
  main .perks .items {
    margin-top: 91px;
    padding-top: 322px;
    padding-bottom: 206px;
  }
  main .perks .items .perksNurse {
    top: -33px;
    bottom: unset;
    left: 50%;
    transform: translateX(-50%);
    width: 508px;
  }
  main .perks .send {
    max-width: 100%;
    width: auto;
    margin: -130px 44px 0;
  }
  main .perks .send .content {
    justify-content: space-between;
    padding: 0 50px;
  }
  main .perks .send .content .footnote {
    max-width: 317px;
  }
  main .perks .send .content .pick {
    margin: 0;
  }
  main .perks .rect {
    margin-left: 44px;
  }
  main .perks .rectTitle {
    position: relative;
    z-index: 1;
    margin-left: 44px;
  }
  main .how .wrapper {
    max-width: 100%;
    padding: 0 44px;
  }
  main .specialists {
    max-width: 100%;
    width: auto;
    padding: 0 44px;
  }
  main .specialists .specialTitle, main .specialists .controls, main .specialists .cards {
    position: relative;
    z-index: 1;
  }
  main .specialists .controls .navigation {
    display: none;
  }
  main .specialists .controls .tabs {
    overflow-x: scroll;
    width: auto;
  }
  main .specialists .controls .tabs .item {
    margin-right: 25px;
  }
  main .specialists .cards .specialistsSlider {
    max-width: 600px;
  }
  main .specialists .cards .item {
    width: 260px;
  }
  main .specialists .cards .item .stats .state {
    padding: 7px 16px;
    text-align: center;
  }
  main .specialists .round {
    justify-content: center;
  }
  main .specialists .round .content .countReviews {
    flex-direction: column;
  }
  main .specialists .round .content .countReviews .text p strong {
    font-size: 36px;
    line-height: 42px;
  }
  main .specialists .round .content .countReviews .text br:first-of-type {
    display: none;
  }
  main .reviews {
    max-width: 100%;
  }
  main .reviews .navigation {
    max-width: 680px;
    left: 44px;
  }
  main .reviews .reviewSlider {
    max-width: 100%;
    width: auto;
  }
  main .reviews .reviewSlider .item {
    margin: 0 auto;
  }
  main .reviews .send {
    max-width: 680px;
    width: 100%;
    margin: 0px;
    bottom: -195px;
  }
  main .reviews .send .content {
    justify-content: space-between;
    padding: 0 50px;
  }
  main .reviews .send .content .footnote {
    max-width: 329px;
  }
  main .reviews .send .content .pick {
    margin: 0;
  }
  main .faq .consult {
    top: 130px;
    right: 44px;
  }
  main .faq .faqTitle {
    margin-bottom: 300px;
    margin-left: 44px;
  }
  main .faq .rect {
    margin-left: 44px;
  }
  main .faq .faqBlock {
    padding: 48px 44px;
  }
  main .faq .faqBlock .bandAid {
    left: 119px;
    top: -241px;
  }
  main .faq .send {
    max-width: 100%;
    width: auto;
    margin: 63px 44px 0;
  }
  main .faq .send .content {
    display: none;
  }
  main .faq .send .mobContent {
    display: flex;
    flex-direction: column;
    padding: 0 48px;
  }
  main .faq .send .mobContent .top {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  main .faq .send .mobContent .top .title {
    font-family: "Gilroy", serif;
    font-style: normal;
    font-weight: 500;
    font-size: 30px;
    line-height: 36px;
    color: #FFFFFF;
    max-width: 302px;
  }
  main .faq .send .mobContent .bottom {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  main .faq .send .mobContent .bottom .pick {
    background: #FFFFFF;
    font-family: "Gilroy", serif;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    color: #3F85EF;
  }
  main .faq .send .mobContent .bottom .subtitle {
    font-family: "Gilroy", serif;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    text-align: center;
    color: #FFFFFF;
    max-width: 329px;
  }
  main .useful .medPic {
    right: 24px;
    top: 0;
  }
  main .useful .rect, main .useful .usefulTitle {
    margin-left: 44px;
  }
  main .useful .articles {
    padding: 0 44px;
  }
  main .useful .articles .item {
    width: 330px;
    height: 517px;
  }
  main .useful .articles .item img {
    width: 100%;
  }
  main .useful .articles .item .title {
    max-width: 270px;
  }
  main .useful .articles .item .subtitle {
    max-width: 270px;
  }
  main .useful .useful-pagination {
    display: block;
    position: relative;
    margin-top: 66px;
  }
  main .useful .useful-pagination .swiper-pagination-bullet {
    width: 10px;
    height: 10px;
    border: 2px solid #3F85EF;
    margin-right: 15px;
    transition: all 0.4s;
  }
  main .useful .useful-pagination .swiper-pagination-bullet:last-of-type {
    margin-right: unset;
  }
  main .useful .useful-pagination .swiper-pagination-bullet-active {
    width: 15px;
    height: 15px;
    background: #3F85EF;
  }

  footer .footerWrapper {
    padding: 60px 44px 124px;
    max-width: 100%;
    position: relative;
  }
  footer .footerWrapper .content {
    flex-direction: column;
  }
  footer .footerWrapper .content .info {
    display: flex;
    justify-content: space-between;
    margin-bottom: 53px;
  }
  footer .footerWrapper .content .info .copyright {
    position: absolute;
    bottom: 50px;
    left: 50%;
    transform: translateX(-50%);
  }
  footer .footerWrapper .content .menu {
    justify-content: space-between;
    margin-bottom: 61px;
  }
  footer .footerWrapper .content .menu .row .rowTitle {
    font-size: 25px;
    line-height: 24px;
  }
  footer .footerWrapper .content .menu .row .item {
    font-size: 20px;
    line-height: 24px;
    margin-bottom: 20px;
  }
  footer .footerWrapper .content .contacts {
    margin: 0;
  }
  footer .footerWrapper .content .contacts .contactContent {
    display: flex;
    flex-flow: row wrap;
    align-items: baseline;
  }
  footer .footerWrapper .content .contacts .contactContent .box {
    width: 68%;
  }

  .burgerMenu {
    display: none;
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    background: #FFFFFF;
    z-index: 1000;
  }
  .burgerMenu .close {
    position: absolute;
    top: 40px;
    right: 40px;
    cursor: pointer;
  }
  .burgerMenu .content {
    height: 100vh;
    background: #3F85EF;
    border-radius: 0px 40px 40px 0px;
    width: 489px;
    position: relative;
    overflow: hidden;
  }
  .burgerMenu .content .mask {
    position: absolute;
    background: #59B4FB;
    filter: blur(74px);
    border-radius: 40px;
    width: 295.07px;
    height: 1120.55px;
    z-index: 0;
    top: -100px;
    right: 0;
  }
  .burgerMenu .content .menu {
    position: relative;
    z-index: 1;
    padding: 35px 44px;
  }
  .burgerMenu .content .menu .geo {
    display: flex;
    align-items: center;
    margin-top: 54px;
    margin-bottom: 45px;
  }
  .burgerMenu .content .menu .geo svg {
    margin-right: 17px;
  }
  .burgerMenu .content .menu .geo select {
    font-family: "Gilroy", serif;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 24px;
    color: #FFFFFF;
    padding: 8px 22px 8px 8px;
    background-position-y: 17px;
    background-position-x: 98%;
    background-image: url("../images/white-selector.svg");
  }
  .burgerMenu .content .menu .geo .selector {
    font-family: "Gilroy", serif;
  }
  .burgerMenu .content .menu .geo .selector p {
    margin-top: 200px;
  }
  .burgerMenu .content .menu .geo .selector p a {
    text-transform: uppercase;
    text-decoration: none;
    display: inline-block;
    color: #fff;
    padding: 5px 10px;
    margin: 0 5px;
    background-color: #87B1CA;
  }
  .burgerMenu .content .menu .geo .selector p a:hover {
    background-color: #87B1CA;
  }
  .burgerMenu .content .menu .geo .selector .select-hidden {
    display: none;
    visibility: hidden;
    padding-right: 10px;
  }
  .burgerMenu .content .menu .geo .selector .select {
    cursor: pointer;
    display: inline-block;
    position: relative;
    font-size: 16px;
    color: #ffffff;
    width: 288px;
    height: 30px;
  }
  .burgerMenu .content .menu .geo .selector .select-styled {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: transparent;
    padding: 8px 15px;
    font-size: 16px;
  }
  .burgerMenu .content .menu .geo .selector .select-styled:after {
    content: "";
    width: 0;
    height: 0;
    border: 7px solid transparent;
    border-color: #ffffff transparent transparent transparent;
    position: absolute;
    top: 16px;
    right: 10px;
  }
  .burgerMenu .content .menu .geo .selector .select-styled:active:after, .burgerMenu .content .menu .geo .selector .select-styled.active:after {
    top: 9px;
    border-color: transparent transparent #ffffff transparent;
  }
  .burgerMenu .content .menu .geo .selector .select-options {
    display: none;
    position: absolute;
    top: 100%;
    right: 0;
    left: 0;
    z-index: 999;
    margin: 0;
    padding: 0;
    list-style: none;
    background-color: #283848;
  }
  .burgerMenu .content .menu .geo .selector .select-options li {
    margin: 0;
    padding: 12px 0;
    text-indent: 15px;
    border-top: 1px solid #FFFFFF;
    background-color: #283848;
  }
  .burgerMenu .content .menu .geo .selector .select-options li:hover, .burgerMenu .content .menu .geo .selector .select-options li.is-selected {
    color: #283848;
    background: #abc6e5;
  }
  .burgerMenu .content .menu .geo .selector .select-options li[rel=hide] {
    display: none;
  }
  .burgerMenu .content .menu .links {
    display: flex;
    flex-direction: column;
  }
  .burgerMenu .content .menu .links a {
    font-family: "Gilroy", serif;
    font-style: normal;
    font-weight: 400;
    font-size: 28px;
    line-height: 25px;
    color: #FFFFFF;
    margin-bottom: 30px;
  }
  .burgerMenu .content .menu .links a:first-of-type {
    font-weight: 600;
  }
  .burgerMenu .content .cabinet {
    position: relative;
    z-index: 1;
    border-top: 2px solid rgba(240, 241, 248, 0.45);
    border-bottom: 2px solid rgba(240, 241, 248, 0.45);
    padding: 45px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .burgerMenu .content .cabinet a {
    font-family: "Gilroy", serif;
    font-style: normal;
    font-weight: 500;
    font-size: 28px;
    line-height: 24px;
    color: #FBFBFB;
  }
  .burgerMenu .content .cabinet button {
    background: #3F85EF;
    font-family: "Gilroy", serif;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    color: #FFFFFF;
    transition: all 0.4s;
    border: 1px solid #3F85EF;
  }
  .burgerMenu .content .cabinet button:hover {
    background: #FFFFFF;
    color: #3F85EF;
  }

  .activeBurger {
    display: block;
  }
}
@media (max-width: 767px) {
  header .headerWrapper {
    padding: 0 24px;
  }
  header .headerWrapper a img {
    width: 195px;
  }
  header .headerWrapper .headerControls .geo, header .headerWrapper .headerControls .signIn {
    display: none;
  }

  main .banner {
    margin-bottom: 80px;
  }
  main .banner .nurse {
    display: none;
  }
  main .banner .plus {
    display: block;
    position: absolute;
    top: 82px;
    right: 5px;
    z-index: 0;
  }
  main .banner .content {
    padding: 48px 24px 0 24px;
  }
  main .banner .content h1 {
    font-size: 32px;
    line-height: 35px;
    max-width: 265px;
  }
  main .banner .content .description {
    margin-bottom: 24px;
  }
  main .banner .content .specialist {
    max-width: 100%;
    width: auto;
    padding: 0 39px;
  }
  main .banner .content .specialist .select {
    width: -webkit-fill-available;
  }
  main .banner .kit {
    display: none;
  }
  main .banner .tabs .nurses {
    display: none;
  }
  main .about {
    padding: 0 24px;
    margin-bottom: 80px;
  }
  main .about .info .title {
    font-size: 28px;
    line-height: 24px;
    margin-bottom: 38px;
  }
  main .about .info .subtitle {
    font-size: 18px;
    line-height: 27px;
    margin-bottom: 24px;
    max-width: 312px;
  }
  main .about .info .tab {
    padding: 20px 17px 28px;
    flex-direction: column;
  }
  main .about .info .tab img {
    width: 76px;
    margin-bottom: 15px;
  }
  main .about .info .tab p {
    margin: 0;
    text-align: justify;
  }
  main .about .gallery {
    margin-top: 30px;
  }
  main .about .gallery .servicePic img {
    width: 327px;
  }
  main .about .gallery .servicePic svg {
    width: 117px;
    top: -77px;
    right: 0;
  }
  main .about .gallery .slider .swiper {
    max-width: 200px;
  }
  main .perks {
    margin-bottom: 80px;
  }
  main .perks .rect {
    margin-left: 24px;
  }
  main .perks .rectTitle {
    font-size: 28px;
    line-height: 24px;
    margin-left: 24px;
  }
  main .perks .items {
    margin-top: 61px;
    padding-top: 247px;
    padding-bottom: 217px;
  }
  main .perks .items .desktop {
    display: none;
  }
  main .perks .items .perksSlider {
    display: block;
  }
  main .perks .items .perksSlider .item {
    padding: 27px 15px;
    max-width: 327px;
    width: auto;
    margin: 0 17px;
    align-items: flex-start;
  }
  main .perks .items .perksSlider .item .text .title {
    max-width: 147px;
  }
  main .perks .items .perksSlider .item .text .subtitle {
    max-width: 194px;
  }
  main .perks .items .perks-pagination {
    display: block;
    position: relative;
    margin-top: 40px;
  }
  main .perks .items .perks-pagination .swiper-pagination-bullet {
    width: 10px;
    height: 10px;
    background: transparent;
    border: 2px solid #3F85EF;
    transition: all 0.4s;
  }
  main .perks .items .perks-pagination .swiper-pagination-bullet-active {
    width: 15px;
    height: 15px;
    background: #3F85EF;
    border: none;
  }
  main .perks .items .perksNurse {
    width: 361px;
  }
  main .perks .items .back-circles {
    right: 31px;
    left: unset;
    width: 50px;
  }
  main .perks .items .ellipse {
    width: 70px;
    height: 70px;
  }
  main .perks .send {
    margin: -154px 24px 0;
  }
  main .perks .send .content {
    padding: 0 39px;
  }
  main .perks .send .content .title {
    font-size: 20px;
    line-height: 27px;
    max-width: 156px;
  }
  main .perks .send .content img {
    width: 78px;
  }
  main .perks .send .content .pick {
    margin-top: 20px;
    width: 100%;
  }
  main .how .wrapper {
    padding: 0 24px;
    margin-bottom: 132px;
  }
  main .how .wrapper .howTitle {
    font-size: 28px;
    line-height: 24px;
  }
  main .how .wrapper .items {
    max-width: 100%;
    margin-top: 68px;
  }
  main .how .wrapper .items .desktop {
    display: none;
  }
  main .how .wrapper .items .howSlider, main .how .wrapper .items .how-pagination {
    display: block;
  }
  main .how .wrapper .items .howSlider .circle {
    position: absolute;
    width: 18px;
    height: 18px;
    background: #59B4FB;
    top: 17px;
    left: 92px;
    z-index: 0;
    border-radius: 50px;
  }
  main .how .wrapper .items .howSlider .number {
    top: 0;
    right: 59px;
  }
  main .how .wrapper .items .howSlider .step {
    margin-top: 30px;
  }
  main .how .wrapper .items .howSlider .title {
    max-width: 155px;
  }
  main .how .wrapper .items .howSlider .description {
    max-width: 168px;
  }
  main .how .wrapper .how-pagination {
    position: relative;
    margin-top: 38px;
  }
  main .how .wrapper .how-pagination .swiper-pagination-bullet {
    width: 10px;
    height: 10px;
    transition: all 0.4s;
    border: 2px solid #3F85EF;
    margin-right: 15px;
  }
  main .how .wrapper .how-pagination .swiper-pagination-bullet:last-of-type {
    margin-right: unset;
  }
  main .how .wrapper .how-pagination .swiper-pagination-bullet-active {
    width: 15px;
    height: 15px;
    background: #3F85EF;
  }
  main .specialists {
    padding: 0 24px;
    margin-bottom: 132px;
  }
  main .specialists .round {
    top: 95px;
    right: unset;
    justify-content: flex-start;
    align-items: flex-start;
  }
  main .specialists .round .content {
    margin: 0;
  }
  main .specialists .specialTitle {
    font-size: 28px;
    line-height: 24px;
  }
  main .specialists .controls {
    margin-top: 175px;
  }
  main .specialists .cards .item {
    margin: 0 auto;
  }
  main .reviews {
    padding-top: 67px;
  }
  main .reviews .navigation {
    transform: translate(-50%, 50%);
    left: 50%;
    top: unset;
    bottom: 177px;
    max-width: 260px;
  }
  main .reviews .circle {
    display: none;
  }
  main .reviews .syringe {
    top: -54px;
    right: -61px;
    width: 200px;
  }
  main .reviews .rect {
    margin-left: 24px;
  }
  main .reviews .reviewTitle {
    font-size: 28px;
    line-height: 33px;
    margin-left: 24px;
    margin-bottom: 38px;
    max-width: 195px;
  }
  main .reviews .send {
    margin: 63px 24px 0;
    max-width: 100%;
    width: -webkit-fill-available;
    left: unset;
    transform: none;
  }
  main .reviews .send .content {
    padding: 0 39px;
  }
  main .reviews .send .content .title {
    font-size: 20px;
    line-height: 27px;
    max-width: 156px;
  }
  main .reviews .send .content img {
    width: 78px;
  }
  main .reviews .send .content .pick {
    margin-top: 20px;
    width: 100%;
  }
  main .reviews .reviewSlider .item {
    padding: 29px 30px;
    max-width: 100%;
    width: auto;
    margin: 0 29px;
  }
  main .reviews .reviewSlider .item .itemHeader {
    flex-direction: column;
    align-items: flex-start;
  }
  main .reviews .reviewSlider .item .itemHeader .title {
    font-size: 18px;
    line-height: 27px;
  }
  main .faq .faqTitle {
    font-size: 28px;
    line-height: 33px;
  }
  main .faq .consult {
    max-width: 100%;
    width: -webkit-fill-available;
    margin: 0 24px;
    right: unset;
  }
  main .faq .consult img {
    width: 141px;
  }
  main .faq .faqBlock .bandAid {
    width: 70px;
    left: unset;
    right: 10px;
    top: -50px;
  }
  main .faq .send {
    margin: 63px 24px 0;
  }
  main .faq .send .mobContent {
    padding: 0 39px;
  }
  main .faq .send .mobContent .top .title {
    font-size: 20px;
    line-height: 27px;
  }
  main .faq .send .mobContent .top img {
    height: 91px;
  }
  main .faq .send .mobContent .bottom {
    flex-direction: column;
    margin-top: 29px;
  }
  main .faq .send .mobContent .bottom .pick {
    margin-bottom: 24px;
    width: 100%;
  }
  main .useful .medPic {
    right: 0;
    top: -70px;
    width: 98px;
  }
  main .useful .usefulTitle {
    font-size: 28px;
    line-height: 24px;
  }
  main .useful .articles {
    margin-top: 40px;
  }
  main .useful .articles .item {
    width: 100%;
  }

  footer .footerWrapper .content .info {
    flex-direction: column;
    align-items: center;
  }
  footer .footerWrapper .content .menu {
    flex-direction: column;
    align-items: center;
    justify-content: unset;
    margin-bottom: 45px;
  }
  footer .footerWrapper .content .menu .row {
    margin: 0;
    align-items: center;
  }
  footer .footerWrapper .content .menu .row .item {
    text-align: center;
  }
  footer .footerWrapper .content .contacts .contactsTitle {
    text-align: center;
    font-size: 22px;
    line-height: 24px;
  }
  footer .footerWrapper .content .contacts .contactContent {
    flex-flow: column;
    align-items: center;
  }
  footer .footerWrapper .content .contacts .contactContent .box {
    width: auto;
  }
  footer .footerWrapper .content .contacts .item a {
    font-size: 18px;
    line-height: 24px;
  }

  .burgerMenu .content {
    width: 80%;
  }
  .burgerMenu .content .menu {
    padding: 24px;
  }
  .burgerMenu .content .menu img {
    max-width: 200px;
  }
  .burgerMenu .content .menu .geo .selector .select {
    width: 180px;
  }
  .burgerMenu .content .menu .geo .selector .select-styled {
    font-size: 12px;
  }
  .burgerMenu .content .menu .geo .selector .select-options li {
    font-size: 10px;
  }
  .burgerMenu .content .menu .links a {
    font-size: 14px;
  }
  .burgerMenu .content .cabinet {
    padding: 24px;
  }
  .burgerMenu .content .cabinet a {
    font-size: 14px;
  }
}

/*# sourceMappingURL=responsive.css.map */
