body {
  margin: 0;
  overflow-x: hidden;
}

button, select, input {
  outline: none;
  background: transparent;
  border: none;
  padding: 13px 24px;
  border-radius: 45px;
  cursor: pointer;
  transition: all 0.4s;
}

select {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  background-image: url("../images/selector.svg");
  background-repeat: no-repeat;
  background-position-x: 100%;
  background-position-y: 5px;
}

h1, p {
  margin: 0;
}

a {
  text-decoration: none;
}

.rect {
  background: #3F85EF;
  width: 30px;
  height: 3px;
}

header {
  height: 103px;
  width: 100vw;
  position: fixed;
  z-index: 100;
  top: 0;
  left: 0;
  background: #ffffff;
  display: flex;
  justify-content: center;
}
header .headerWrapper {
  max-width: 1235px;
  width: 100%;
  display: flex;
  align-items: center;
}
header .headerWrapper .headerMenu {
  margin-left: 39px;
  display: flex;
}
header .headerWrapper .headerMenu .item {
  margin-right: 20px;
  font-family: "Gilroy", serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #283848;
}
header .headerWrapper .headerMenu .item:last-of-type {
  margin-right: unset;
}
header .headerWrapper .headerMenu .item-active {
  color: #3F85EF;
}
header .headerWrapper .headerControls {
  margin-left: auto;
  display: flex;
  align-items: center;
}
header .headerWrapper .headerControls .geo {
  display: flex;
  align-items: center;
}
header .headerWrapper .headerControls .geo select {
  font-family: "Gilroy", serif;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 24px;
  color: #283848;
  padding: 8px 22px 8px 8px;
  background-position-y: 17px;
  background-position-x: 98%;
}
header .headerWrapper .headerControls .signIn {
  margin-left: 23px;
  background: linear-gradient(84.59deg, #3F85EF 2.25%, #59B4FB 97.14%);
  font-family: "Gilroy", serif;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  color: #FFFFFF;
}
header .headerWrapper .headerControls .signIn:hover {
  background: linear-gradient(84.59deg, #59B4FB 2.25%, #3F85EF 97.14%);
}
header .headerWrapper .headerControls .burger {
  display: none;
}

main {
  margin-top: 103px;
}
main .banner {
  background: url("../images/bg.png") center no-repeat;
  background-size: contain;
  max-width: 1235px;
  width: 100%;
  margin: 0 auto 114px;
  padding: 118px 0 60px 105px;
  position: relative;
}
main .banner .content {
  position: relative;
  z-index: 1;
}
main .banner .content h1 {
  margin-bottom: 22px;
  font-family: "Gilroy", serif;
  font-style: normal;
  font-weight: 500;
  font-size: 48px;
  line-height: 50px;
  color: #FFFFFF;
  max-width: 399px;
}
main .banner .content .description {
  font-family: "Gilroy", serif;
  font-style: normal;
  font-weight: 300;
  font-size: 18px;
  line-height: 27px;
  color: #FFFFFF;
  margin-bottom: 70px;
  max-width: 378px;
}
main .banner .content .specialist {
  height: 100px;
  max-width: 1025px;
  width: 100%;
  background: #FFFFFF;
  box-shadow: 0px 0px 35px rgba(255, 255, 255, 0.25);
  border-radius: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
}
main .banner .content .specialist select {
  padding: 0 0 6px 0;
  border-bottom: 1px solid #C4C4C4;
  width: 276px;
  border-radius: unset;
  margin-right: 50px;
  font-family: "Gilroy", serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #283848;
}
main .banner .content .specialist .choose {
  background: #3F85EF;
  border-radius: 45px;
  font-family: "Gilroy", serif;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  color: #FFFFFF;
  border: 2px solid transparent;
}
main .banner .content .specialist .choose:hover {
  color: #3F85EF;
  border-color: #3F85EF;
  background: #FFFFFF;
}
main .banner .nurse {
  position: absolute;
  z-index: 0;
  top: 8px;
  right: 371px;
}
main .banner .nurse-responsive {
  display: none;
}
main .banner .ellipse {
  position: absolute;
  z-index: 0;
  left: -26px;
  bottom: 151px;
}
main .banner .nurses {
  position: absolute;
  z-index: 1;
  top: 86px;
  right: 230px;
  display: flex;
  align-items: center;
}
main .banner .nurses img {
  margin-right: 20px;
}
main .banner .nurses p {
  font-family: "Gilroy", serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #FFFFFF;
}
main .banner .nurses span {
  font-family: "Gilroy", serif;
  font-style: normal;
  font-weight: 400;
  font-size: 64px;
  line-height: 74px;
  letter-spacing: 0.05em;
  color: #F0F1F8;
}
main .banner .catalog {
  position: absolute;
  z-index: 1;
  top: 265px;
  right: 144px;
  display: flex;
  align-items: center;
}
main .banner .catalog img {
  margin-right: 24px;
}
main .banner .catalog p {
  font-family: "Gilroy", serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #FFFFFF;
}
main .banner .kit {
  position: absolute;
  z-index: 1;
  right: 82px;
  bottom: 51px;
}
main .about {
  max-width: 1233px;
  width: 100%;
  margin: 0 auto 143px;
  display: flex;
}
main .about .info {
  display: flex;
  flex-direction: column;
}
main .about .info .rect {
  margin-bottom: 29px;
}
main .about .info .title {
  font-family: "Gilroy", serif;
  font-style: normal;
  font-weight: 500;
  font-size: 40px;
  line-height: 24px;
  color: #283848;
  margin-bottom: 59px;
}
main .about .info .title span {
  color: #3F85EF;
}
main .about .info .subtitle {
  font-family: "Gilroy", serif;
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 30px;
  color: #3F85EF;
  margin-bottom: 33px;
  max-width: 499px;
}
main .about .info .description {
  font-family: "Gilroy", serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #283848;
  max-width: 521px;
  margin-bottom: 39px;
}
main .about .info .tab {
  padding: 38px 41px;
  display: flex;
  align-items: center;
  border: 2px solid #3F85EF;
  border-radius: 20px;
}
main .about .info .tab p {
  margin-left: 47px;
  font-family: "Gilroy", serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #283848;
  max-width: 282px;
}
main .about .gallery {
  display: flex;
  flex-direction: column;
  align-items: center;
}
main .about .gallery .servicePic-responsive {
  display: none;
}
main .about .gallery .servicePic-mobile {
  display: none;
}
main .about .gallery .slider {
  margin-top: 25px;
  max-width: 605px;
  width: 100%;
  margin-left: 100px;
  position: relative;
}
main .about .gallery .slider .sliderTitle {
  font-family: "Gilroy", serif;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 27px;
  text-align: center;
  color: #151E29;
  margin-bottom: 27px;
}
main .about .gallery .slider .swiper {
  max-width: 500px;
  position: relative;
}
main .about .gallery .slider .swiper .slideItem {
  display: flex;
  flex-direction: column;
  align-items: center;
}
main .about .gallery .slider .swiper .slideItem .pic {
  background: #F0F1F8;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 70px;
  height: 70px;
  margin-bottom: 18px;
  cursor: pointer;
  transition: all 0.4s;
}
main .about .gallery .slider .swiper .slideItem .pic svg path {
  fill: #3F85EF;
}
main .about .gallery .slider .swiper .slideItem .pic svg rect {
  fill: #3F85EF;
}
main .about .gallery .slider .swiper .slideItem .pic:hover {
  background: #3F85EF;
}
main .about .gallery .slider .swiper .slideItem .pic:hover svg path {
  fill: #FFFFFF;
}
main .about .gallery .slider .swiper .slideItem .pic:hover svg rect {
  fill: #FFFFFF;
}
main .about .gallery .slider .swiper .slideItem p {
  font-family: "Gilroy", serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  color: #283848;
}
main .about .gallery .slider .navigation {
  width: 55px;
  height: 55px;
  border: 2px solid #59B4FB;
  border-radius: 50px;
  position: absolute;
  z-index: 10;
  bottom: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: all 0.4s;
}
main .about .gallery .slider .navigation:hover {
  background: #3F85EF;
  border-color: #3F85EF;
}
main .about .gallery .slider .navigation:hover svg path {
  stroke: #FFFFFF;
}
main .about .gallery .slider .button-next {
  right: 0;
}
main .perks {
  max-width: 1233px;
  width: 100%;
  margin: 0 auto 150px;
  position: relative;
}
main .perks .rectTitle {
  margin-top: 29px;
  font-family: "Gilroy";
  font-style: normal;
  font-weight: 500;
  font-size: 40px;
  line-height: 24px;
  color: #151E29;
}
main .perks .rectTitle span {
  color: #3F85EF;
}
main .perks .back {
  position: absolute;
  left: -36px;
  top: 110px;
  z-index: 0;
}
main .perks .back-responsive {
  display: none;
}
main .perks .items {
  width: 100%;
  position: relative;
  z-index: 1;
  margin-top: 27px;
}
main .perks .items .desktop {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
main .perks .items .perksSlider {
  display: none;
}
main .perks .items .item {
  background: #FFFFFF;
  box-shadow: 0px 20px 35px rgba(21, 30, 41, 0.1);
  border-radius: 15px;
  max-width: 525px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 27px 0 34px;
}
main .perks .items .item:nth-child(2n) {
  margin: 30px 80px 30px 0;
}
main .perks .items .item .pic {
  background: #F0F1F8;
  border-radius: 10px;
  width: 70px;
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 33px;
}
main .perks .items .item .text {
  max-width: 329px;
}
main .perks .items .item .text .title {
  font-family: "Gilroy", serif;
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 27px;
  color: #151E29;
  margin-bottom: 9px;
}
main .perks .items .item .text .subtitle {
  font-family: "Gilroy", serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: #283848;
}
main .perks .send {
  max-width: 1025px;
  width: 100%;
  margin: 63px auto 0;
  background: #3F85EF;
  border-radius: 25px;
  padding: 30px 0 44px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
  z-index: 1;
  overflow: hidden;
}
main .perks .send .sendBack {
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
}
main .perks .send .content {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: center;
  position: relative;
  z-index: 1;
}
main .perks .send .content .title {
  font-family: "Gilroy", serif;
  font-style: normal;
  font-weight: 500;
  font-size: 30px;
  line-height: 36px;
  color: #FFFFFF;
  max-width: 458px;
}
main .perks .send .content .pick {
  margin-left: 69px;
  background: #FFFFFF;
  border-radius: 45px;
  font-family: "Gilroy", serif;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  color: #3F85EF;
  transition: all 0.4s;
  border: 2px solid transparent;
}
main .perks .send .content .pick:hover {
  color: #FFFFFF;
  background: transparent;
  border-color: #FFFFFF;
}
main .perks .send .footnote {
  position: relative;
  z-index: 1;
  margin-top: 16px;
  font-family: "Gilroy", serif;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  text-align: center;
  color: #FFFFFF;
}
main .how {
  position: relative;
}
main .how .howBg {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: 0;
  z-index: 0;
}
main .how .wrapper {
  max-width: 1233px;
  margin: 0 auto 154px;
  position: relative;
  z-index: 1;
}
main .how .wrapper .howTitle {
  font-family: "Gilroy", serif;
  font-style: normal;
  font-weight: 500;
  font-size: 40px;
  line-height: 24px;
  color: #151E29;
  margin-top: 29px;
}
main .how .wrapper .howTitle span {
  color: #3F85EF;
}
main .how .wrapper .items {
  max-width: 920px;
  width: 100%;
  margin: 93px auto 0;
}
main .how .wrapper .items .desktop {
  display: flex;
  align-items: center;
  justify-content: center;
}
main .how .wrapper .items .howSlider, main .how .wrapper .items .howPagination {
  display: none;
}
main .how .wrapper .items .item {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-right: 129px;
  position: relative;
}
main .how .wrapper .items .item:last-of-type {
  margin-right: unset;
}
main .how .wrapper .items .item:nth-child(2n) {
  margin-bottom: 50px;
}
main .how .wrapper .items .item:nth-child(2n) .circle {
  left: unset;
  top: 90px;
  right: 30px;
}
main .how .wrapper .items .item .circle {
  position: absolute;
  width: 18px;
  height: 18px;
  background: #59B4FB;
  top: 0;
  left: 30px;
  z-index: 0;
  border-radius: 50px;
}
main .how .wrapper .items .item .number {
  position: absolute;
  top: -28px;
  right: 0;
  z-index: 0;
}
main .how .wrapper .items .item .step {
  position: relative;
  z-index: 1;
}
main .how .wrapper .items .item .title {
  font-family: "Gilroy", serif;
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 27px;
  text-align: center;
  color: #151E29;
  margin-bottom: 9px;
  margin-top: 42px;
}
main .how .wrapper .items .item .description {
  font-family: "Gilroy", serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  text-align: center;
  color: #283848;
  max-width: 214px;
}
main .specialists {
  max-width: 1233px;
  width: 100%;
  margin: 0 auto 151px;
  position: relative;
  display: flex;
  flex-direction: column;
}
main .specialists .specialTitle {
  font-family: "Gilroy", serif;
  font-style: normal;
  font-weight: 500;
  font-size: 40px;
  line-height: 24px;
  color: #151E29;
  margin-top: 29px;
  position: relative;
  z-index: 1;
}
main .specialists .specialTitle span {
  color: #3F85EF;
}
main .specialists .controls {
  position: relative;
  z-index: 1;
  margin-top: 90px;
  margin-bottom: 57px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
main .specialists .controls .tabs {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 760px;
}
main .specialists .controls .tabs .item {
  border: 2px solid #3F85EF;
  border-radius: 45px;
  background: #FFFFFF;
  font-family: "Gilroy", serif;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  color: #3F85EF;
}
main .specialists .controls .tabs .item:hover {
  color: #FFFFFF;
  background: #3F85EF;
}
main .specialists .controls .tabs .active {
  background: linear-gradient(84.59deg, #3F85EF 2.25%, #59B4FB 97.14%);
  color: #FFFFFF;
  border-color: transparent;
}
main .specialists .controls .tabs .active:hover {
  background: linear-gradient(84.59deg, #59B4FB 2.25%, #3F85EF 97.14%);
}
main .specialists .controls .navigation {
  display: flex;
  align-items: center;
  position: relative;
  z-index: 10;
}
main .specialists .controls .navigation .spec-arrow {
  border: 2px solid #59B4FB;
  border-radius: 50px;
  width: 55px;
  height: 55px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.4s;
}
main .specialists .controls .navigation .spec-arrow:hover {
  background: #3F85EF;
  border-color: #3F85EF;
}
main .specialists .controls .navigation .spec-arrow:hover svg path {
  stroke: #FFFFFF;
}
main .specialists .controls .navigation .spec-arrow:first-child {
  margin-right: 27px;
}
main .specialists .controls .navigation .spec-arrow:first-child svg {
  transform: rotateZ(180deg);
}
main .specialists .cards {
  position: relative;
  z-index: 1;
  display: flex;
}
main .specialists .cards .item {
  display: flex;
  flex-direction: column;
}
main .specialists .cards .item .pic {
  background: #F0F1F8;
  border-radius: 15px;
  width: 290px;
  height: 340px;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  position: relative;
  margin-bottom: 23px;
  transition: all 0.4s;
}
main .specialists .cards .item .pic img {
  position: relative;
  z-index: 1;
}
main .specialists .cards .item .pic .mask {
  position: absolute;
  z-index: 0;
  top: 43px;
  right: 27px;
  width: 198px;
  height: 198px;
  background: #FFFFFF;
  filter: blur(50px);
  opacity: 0;
}
main .specialists .cards .item .pic:hover {
  background: #59B4FB;
}
main .specialists .cards .item .pic:hover .mask {
  opacity: 1;
}
main .specialists .cards .item .pic .icon {
  position: absolute;
  top: 14px;
  right: 12px;
}
main .specialists .cards .item .title {
  font-family: "Gilroy", serif;
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 27px;
  color: #151E29;
  margin-bottom: 10px;
}
main .specialists .cards .item .subtitle {
  font-family: "Gilroy", serif;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  color: #283848;
  margin-bottom: 18px;
}
main .specialists .cards .item .stats {
  display: flex;
}
main .specialists .cards .item .stats .state {
  border-radius: 5px;
  padding: 7.5px 10px;
  font-family: "Gilroy", serif;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 20px;
  color: #283848;
}
main .specialists .cards .item .stats .rate {
  background: #E6F7F6;
  margin-right: 12px;
}
main .specialists .cards .item .stats .exp {
  background: #ECF7E6;
}
main .specialists .round {
  position: absolute;
  right: -66px;
  top: -101px;
  z-index: 0;
  width: 483px;
  height: 483px;
  background: linear-gradient(210.96deg, #EDF4FE 37.05%, rgba(237, 244, 254, 0) 101.85%);
  border: 1px solid #FFFFFF;
  border-radius: 350px;
  display: flex;
  align-items: baseline;
}
main .specialists .round .white {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: #FFFFFF;
  width: 351px;
  height: 351px;
  border-radius: 350px;
  z-index: 0;
}
main .specialists .round .stars {
  position: absolute;
  top: 26px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1;
}
main .specialists .round .content {
  position: relative;
  z-index: 2;
  display: flex;
  align-items: center;
  margin-top: 101px;
}
main .specialists .round .content svg {
  margin-right: 25px;
}
main .specialists .round .content .countReviews {
  position: relative;
  z-index: 2;
  display: flex;
  align-items: flex-end;
}
main .specialists .round .content .countReviews .text p {
  font-family: "Gilroy", serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #87B1CA;
}
main .specialists .round .content .countReviews .text p strong {
  font-weight: 400;
  font-size: 64px;
  line-height: 74px;
}
main .specialists .round .content .countReviews a {
  margin-top: auto;
  font-family: "Gilroy", serif;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  text-decoration-line: underline;
  color: #3F85EF;
  margin-left: 14px;
}
main .specialists .moreSpec {
  margin: 60px auto 0;
  background: #3F85EF;
  font-family: "Gilroy", serif;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  color: #FFFFFF;
  border: 2px solid transparent;
  transition: all 0.4s;
}
main .specialists .moreSpec:hover {
  color: #3F85EF;
  background: #FFFFFF;
  border-color: #3F85EF;
}
main .reviews {
  background: linear-gradient(270deg, #EDF4FE 53.47%, #FFFFFF 95.83%);
  border-radius: 0 40px 40px 0;
  max-width: 1305px;
  width: 100%;
  margin: 0 auto 288px;
  display: flex;
  flex-direction: column;
  padding: 95px 0 158px;
  position: relative;
}
main .reviews .circle {
  position: absolute;
  left: 225px;
  top: -65px;
  z-index: 0;
}
main .reviews .syringe {
  position: absolute;
  top: -34px;
  right: 0;
}
main .reviews .rect, main .reviews .reviewTitle {
  margin-left: 70px;
}
main .reviews .reviewTitle {
  font-family: "Gilroy", serif;
  font-style: normal;
  font-weight: 500;
  font-size: 40px;
  line-height: 24px;
  margin-top: 29px;
  color: #151E29;
  margin-bottom: 78px;
}
main .reviews .reviewTitle span {
  color: #3F85EF;
}
main .reviews .reviewSlider {
  max-width: 1025px;
  width: 100%;
  margin: 0 auto;
}
main .reviews .reviewSlider .item {
  border: 2px solid #87B1CA;
  border-radius: 15px;
  padding: 29px 41px;
  max-width: 414px;
}
main .reviews .reviewSlider .item .itemHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 15px;
}
main .reviews .reviewSlider .item .itemHeader .title {
  font-family: "Gilroy", serif;
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 27px;
  color: #151E29;
}
main .reviews .reviewSlider .item .description {
  font-family: "Gilroy", serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: #283848;
  margin-bottom: 7px;
}
main .reviews .reviewSlider .item .more {
  margin-bottom: 23px;
}
main .reviews .reviewSlider .item .more a {
  font-family: "Gilroy", serif;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  text-decoration-line: underline;
  color: #3F85EF;
}
main .reviews .reviewSlider .item .info {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
main .reviews .reviewSlider .item .info .person p {
  font-family: "Gilroy", serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 22px;
  color: #3F85EF;
}
main .reviews .reviewSlider .item .info .person p span {
  color: #59B4FB;
}
main .reviews .reviewSlider .item .info .person a {
  font-family: "Gilroy", serif;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 20px;
  text-decoration-line: underline;
  color: #87B1CA;
  margin-top: 4px;
}
main .reviews .reviewSlider .item .info .service .serviceTitle {
  margin-bottom: 14px;
  font-family: "Gilroy";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #59B4FB;
}
main .reviews .reviewSlider .item .info .service .icons svg:first-child {
  margin-right: 15px;
}
main .reviews .navigation {
  position: absolute;
  top: 50%;
  left: 60px;
  transform: translateY(50%);
  display: flex;
  justify-content: space-between;
  max-width: 1185px;
  width: 100%;
  z-index: 10;
}
main .reviews .navigation .arrow {
  cursor: pointer;
  border: 2px solid #59B4FB;
  border-radius: 50px;
  width: 55px;
  height: 55px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.4s;
}
main .reviews .navigation .arrow:hover {
  background: #3F85EF;
  border-color: #3F85EF;
}
main .reviews .navigation .arrow:hover svg path {
  stroke: #FFFFFF;
}
main .reviews .navigation .review-prev svg {
  transform: rotateZ(180deg);
}
main .reviews .swiper-pagination {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 48px auto 0;
}
main .reviews .swiper-pagination .swiper-pagination-bullet {
  border: 2px solid #3F85EF;
  background: transparent;
  width: 10px;
  height: 10px;
  transition: all 0.4s;
}
main .reviews .swiper-pagination .swiper-pagination-bullet-active {
  width: 15px;
  height: 15px;
  background: #3F85EF;
  border: none;
}
main .reviews .send {
  max-width: 1025px;
  width: 100%;
  background: #3F85EF;
  border-radius: 25px;
  padding: 30px 0 44px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: absolute;
  z-index: 1;
  bottom: -138px;
  left: 50%;
  transform: translateX(-50%);
  overflow: hidden;
}
main .reviews .send .sendBack {
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
}
main .reviews .send .content {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: center;
  position: relative;
  z-index: 1;
}
main .reviews .send .content .title {
  font-family: "Gilroy", serif;
  font-style: normal;
  font-weight: 500;
  font-size: 30px;
  line-height: 36px;
  color: #FFFFFF;
  max-width: 458px;
}
main .reviews .send .content .pick {
  margin-left: 69px;
  background: #FFFFFF;
  border-radius: 45px;
  font-family: "Gilroy", serif;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  color: #3F85EF;
  transition: all 0.4s;
  border: 2px solid transparent;
}
main .reviews .send .content .pick:hover {
  color: #FFFFFF;
  background: transparent;
  border-color: #FFFFFF;
}
main .reviews .send .footnote {
  position: relative;
  z-index: 1;
  margin-top: 16px;
  font-family: "Gilroy", serif;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  text-align: center;
  color: #FFFFFF;
}
main .faq {
  max-width: 1233px;
  width: 100%;
  margin: 0 auto 150px;
  position: relative;
}
main .faq .faqTitle {
  margin: 29px 0 172px;
  font-family: "Gilroy", serif;
  font-style: normal;
  font-weight: 500;
  font-size: 40px;
  line-height: 24px;
  color: #151E29;
}
main .faq .faqTitle span {
  color: #3F85EF;
}
main .faq .faqBlock {
  background: rgba(241, 247, 255, 0.4);
  box-shadow: 0px 20px 35px rgba(21, 30, 41, 0.1);
  border-radius: 25px;
  padding: 71px 80px;
  position: relative;
}
main .faq .faqBlock .bandAid {
  position: absolute;
  top: 113px;
  right: -81px;
  z-index: 0;
  filter: drop-shadow(35px 40px 40px rgba(21, 30, 41, 0.07));
}
main .faq .faqBlock .circle {
  position: absolute;
  top: -93px;
  left: -158px;
  z-index: 0;
}
main .faq .faqBlock .faqItem {
  padding-bottom: 25px;
  border-bottom: 2px solid #E8EAF1;
  margin-bottom: 34px;
  position: relative;
  z-index: 1;
  cursor: pointer;
}
main .faq .faqBlock .faqItem:last-of-type {
  margin-bottom: unset;
}
main .faq .faqBlock .faqItem .faqHeader {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
main .faq .faqBlock .faqItem .faqHeader .title {
  font-family: "Gilroy", serif;
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 27px;
  color: #151E29;
}
main .faq .faqBlock .faqItem .faqHeader .open {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 48px;
  height: 48px;
  background: #EDF4FE;
  box-shadow: 0px 0px 35px rgba(241, 247, 255, 0.4);
  border-radius: 50px;
  cursor: pointer;
}
main .faq .faqBlock .faqItem .faqHeader .open svg {
  transition: all 0.4s;
}
main .faq .faqBlock .faqItem .answer {
  font-family: "Gilroy", serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: #283848;
  margin-top: 10px;
  display: none;
}
main .faq .faqBlock .active .answer {
  display: block;
}
main .faq .faqBlock .active .faqHeader .open svg path:first-child {
  opacity: 0;
}
main .faq .consult {
  background: #E6F7F6;
  border-radius: 15px;
  width: 395px;
  height: 190px;
  position: absolute;
  top: 0;
  right: 0;
}
main .faq .consult .picConsult {
  position: absolute;
  bottom: 0;
  right: 0;
}
main .faq .consult .phone {
  background: #3F85EF;
  box-shadow: 35px 20px 40px rgba(21, 30, 41, 0.1);
  border-radius: 50px;
  width: 48px;
  height: 48px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 25px 0 17px 29px;
}
main .faq .consult p {
  font-family: "Gilroy", serif;
  font-style: normal;
  font-weight: 500;
  line-height: 20px;
  color: #151E29;
  max-width: 164px;
  margin-left: 29px;
  font-size: 14px;
}
main .faq .consult p span {
  font-size: 16px;
  color: #3F85EF;
}
main .faq .send {
  max-width: 1025px;
  width: 100%;
  margin: 100px auto 0;
  background: #3F85EF;
  border-radius: 25px;
  padding: 30px 0 44px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
  z-index: 1;
  overflow: hidden;
}
main .faq .send .sendBack {
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
}
main .faq .send .content {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: center;
  position: relative;
  z-index: 1;
}
main .faq .send .content .title {
  font-family: "Gilroy", serif;
  font-style: normal;
  font-weight: 500;
  font-size: 30px;
  line-height: 36px;
  color: #FFFFFF;
  max-width: 458px;
  margin-right: 34px;
}
main .faq .send .content .title p {
  font-size: 16px;
  line-height: 20px;
  margin-top: 23px;
}
main .faq .send .content .pick {
  margin-left: 69px;
  background: #FFFFFF;
  border-radius: 45px;
  font-family: "Gilroy", serif;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  color: #3F85EF;
  transition: all 0.4s;
  border: 2px solid transparent;
}
main .faq .send .content .pick:hover {
  color: #FFFFFF;
  background: transparent;
  border-color: #FFFFFF;
}
main .faq .send .mobContent {
  display: none;
  position: relative;
  z-index: 1;
}
main .useful {
  max-width: 1233px;
  width: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}
main .useful .usefulTitle {
  font-family: "Gilroy", serif;
  font-style: normal;
  font-weight: 500;
  font-size: 40px;
  line-height: 24px;
  color: #151E29;
  margin-top: 29px;
}
main .useful .usefulTitle span {
  color: #3F85EF;
}
main .useful .articles {
  margin-top: 90px;
  display: flex;
  justify-content: space-between;
}
main .useful .articles .item {
  background: #FFFFFF;
  box-shadow: 0px 10px 25px rgba(21, 30, 41, 0.1);
  border-radius: 20px;
  width: 395px;
  height: 565px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
main .useful .articles .item .title {
  margin-top: 32px;
  font-family: "Gilroy", serif;
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 27px;
  color: #151E29;
  margin-left: 31px;
}
main .useful .articles .item .subtitle {
  margin-top: 22px;
  font-family: "Gilroy", serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: #283848;
  margin-left: 31px;
}
main .useful .articles .item .read {
  margin: 22px 0 0 31px;
  background: linear-gradient(84.59deg, #3F85EF 2.25%, #59B4FB 97.14%);
  font-family: "Gilroy", serif;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  color: #FFFFFF;
}
main .useful .useful-pagination {
  display: none;
}
main .useful .allArticles {
  background: #3F85EF;
  margin: 97px auto 0;
  font-family: "Gilroy", serif;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  color: #FFFFFF;
}

footer {
  width: 100vw;
  position: relative;
}
footer .footerCircle {
  position: absolute;
  top: -159px;
  right: 0;
  z-index: 0;
}
footer .footerWrapper {
  margin-top: 159px;
  padding: 68px 0 62px;
  background: #EDF4FE;
  border-radius: 25px 25px 0px 0px;
  position: relative;
  z-index: 1;
}
footer .footerWrapper .content {
  max-width: 1190px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}
footer .footerWrapper .info .logo {
  margin-bottom: 20px;
}
footer .footerWrapper .info p {
  font-family: "Gilroy", serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  color: #283848;
}
footer .footerWrapper .info p:first-of-type {
  margin-bottom: 6px;
}
footer .footerWrapper .info .copyright {
  margin-top: 88px;
}
footer .footerWrapper .menu {
  display: flex;
}
footer .footerWrapper .menu .rowTitle {
  font-family: "Gilroy", serif;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  color: #283848;
  margin-bottom: 27px;
}
footer .footerWrapper .menu .row {
  display: flex;
  flex-direction: column;
}
footer .footerWrapper .menu .row:first-of-type {
  margin-right: 83px;
}
footer .footerWrapper .menu .row .item {
  font-family: "Gilroy", serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #283848;
  margin-bottom: 10px;
}
footer .footerWrapper .menu .row .item:last-of-type {
  margin-bottom: unset;
}
footer .footerWrapper .contacts {
  margin-left: 131px;
}
footer .footerWrapper .contacts .contactsTitle {
  font-family: "Gilroy", serif;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  color: #283848;
  margin-bottom: 27px;
}
footer .footerWrapper .contacts .item {
  display: flex;
  align-items: center;
  margin-bottom: 15px;
}
footer .footerWrapper .contacts .item img {
  width: 19px;
}
footer .footerWrapper .contacts .item a {
  font-family: "Gilroy", serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #283848;
  margin-left: 19px;
}
footer .footerWrapper .contacts .item .phone {
  font-weight: 700;
}
footer .footerWrapper .contacts .socials {
  margin-top: 37px;
}
footer .footerWrapper .contacts .socials a:first-child {
  margin-right: 35px;
}

/*# sourceMappingURL=style.css.map */
