{% block footer %}
    <footer>
        <img src="/images/footer-circle.png" alt="footerCircle" class="footerCircle">
        <div class="footerWrapper">
            <div class="content">
                <div class="info">
                    <img src="/images/footer-logo.png" alt="logo" class="logo">
                    <div class="data">
                        <p>ИП Маненкова К.К.</p>
                        <p>ОГРНИП 322774600097820</p>
                    </div>
                    <div class="copyright">
                        <p>© 2022, надому.рф</p>
                    </div>
                </div>
                <div class="menu">
                    <div class="row useful">
                        <div class="rowTitle">
                            Полезная информация
                        </div>
                        <a href="#" class="item">
                            Каталог специалистов
                        </a>
                        <a href="#" class="item">
                            Медицинским работникам
                        </a>
                        <a href="#" class="item">
                            Блог
                        </a>
                        <a href="#" class="item">
                            Политика конфиденциальности
                        </a>
                        <a href="#" class="item">
                            Обработка персональных данных
                        </a>
                    </div>
                    <div class="row services">
                        <div class="rowTitle">
                            Услуги специалистов
                        </div>
                        <a href="#" class="item">
                            Сиделки
                        </a>
                        <a href="#" class="item">
                            Перевязки
                        </a>
                        <a href="#" class="item">
                            Капельницы
                        </a>
                        <a href="#" class="item">
                            Клизмы
                        </a>
                        <a href="#" class="item">
                            Уколы
                        </a>
                    </div>
                </div>
                <div class="contacts">
                    <div class="contactsTitle">
                        Контакты
                    </div>
                    <div class="contactContent">
                        <div class="box">
                            <div class="item">
                                <img src="/images/phone.svg" alt="phone">
                                <a class="phone" href="tel:+70000000000">+7 000 000-00-00</a>
                            </div>
                            <div class="item">
                                <img src="/images/mail.svg" alt="mail">
                                <a href="mailto:support@nadomu.ru">support@nadomu.ru</a>
                            </div>
                        </div>
                        <div class="item">
                            <img src="/images/location.svg" alt="location">
                            <a href="#">г. Москва, Центральный <br> район, ул. Ленина 53</a>
                        </div>
                        <br>
                        <div class="socials">
                            <a href="#">
                                <img src="/images/instagram.svg" alt="instagram">
                            </a>
                            <a href="#">
                                <img src="/images/telegram.svg" alt="telegram">
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>
{% endblock %}